
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dini Rohim Wedding</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  
</head>

<body>
  <div class="card p-5">
    <h2 class="text-center">Daftar Undangan</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="nama">Nama:</label>
            <input type="text" class="form-control" id="nama" name="nama">
        </div>
        <div class="form-group">
            <label for="no_wa">Nomor WhatsApp:</label>
            <input type="number" class="form-control" id="no_wa" name="no_wa">
        </div>

        <button type="submit" class="btn btn-primary mb-3 mt-3">
            <i class="bi bi-plus-lg"></i> Add Data
        </button>
    </form>
    
        <table id="example" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>Nama Undangan</th>
                    <th>Link</th>
                    <th>Media Sosial</th>
                </tr>
            </thead>
            <tbody>
                {% for a in undangan %}
                <tr>
                    
                    <td>{{forloop.counter}}</td>
                    <td>{{a.nama}}</td>
                    <td data-link="{{ a.link }}">{{ a.link }}
                        <a class="whatsappLink" data-no-wa="{{ a.no_wa }}" data-nama="{{ a.nama }}" data-link="{{ a.link }}" href="#"><i class="bi bi-whatsapp text-success"></i></a>
                        <a class="copyLink" data-no-wa="{{ a.no_wa }}" data-nama="{{ a.nama }}" data-link="{{ a.link }}"><i class="bi bi-copy text-dark"></i></a>
                    </td>
            
                    <td>{{a.no_wa}}
                    </td>

                    <script>
                        document.querySelectorAll('.whatsappLink').forEach(item => {
                            item.addEventListener('click', function(event) {
                                event.preventDefault(); // prevent default action
                                var no_wa = item.getAttribute('data-no-wa');
                                var nama = item.getAttribute('data-nama');
                                var link = item.getAttribute('data-link');
                                var message = `Kepada\nYth.\n${nama}\n\nAssalamualaikum Warahmatullahi Wabarakatuh,\n\nDengan memohon rahmat dan ridho Allah SWT, perkenankan kami mengundang Bapak/Ibu/Saudara(i) untuk menghadiri acara pernikahan kami.\n\nDini Dwi Yunia, S.Si. (Dini) & Abdul Rohim, S.Mat. (Rohim)\n\nUntuk informasi detail mengenai acara, silahkan kunjungi link dibawah ini:\n\n${link}\n\nMerupakan suatu kehormatan dan kebahagiaan bagi kami apabila Bapak/Ibu/Saudara(i) berkenan untuk hadir dan memberikan doa restu. Atas kehadiran dan doa restunya kami ucapkan terima kasih, Wassalamualaikum Warahmatullahi Wabarakatuh\n\nHormat kami, \nDini & Rohim`;
                                var url = `https://wa.me/62${no_wa}/?text=${encodeURIComponent(message)}`;
                                window.open(url, '_blank');
                            });
                        });
                        
                        document.querySelectorAll('.copyLink').forEach(item => {
                            item.addEventListener('click', event => {
                                var no_wa = item.getAttribute('data-no-wa');
                                var nama = item.getAttribute('data-nama');
                                var link = item.getAttribute('data-link');
                                var message = `Kepada\nYth.\n${nama}\n\nAssalamualaikum Warahmatullahi Wabarakatuh,\n\nDengan memohon rahmat dan ridho Allah SWT, perkenankan kami mengundang Bapak/Ibu/Saudara(i) untuk menghadiri acara pernikahan kami.\n\nDini Dwi Yunia, S.Si. (Dini) & Abdul Rohim, S.Mat. (Rohim)\n\nUntuk informasi detail mengenai acara, silahkan kunjungi link dibawah ini:\n\n${link}\n\nMerupakan suatu kehormatan dan kebahagiaan bagi kami apabila Bapak/Ibu/Saudara(i) berkenan untuk hadir dan memberikan doa restu. Atas kehadiran dan doa restunya kami ucapkan terima kasih, Wassalamualaikum Warahmatullahi Wabarakatuh\n\nHormat kami, \nDini & Rohim`;
                        
                                var tempInput = document.createElement('textarea');
                                tempInput.value = message;
                                document.body.appendChild(tempInput);
                                tempInput.select();
                                document.execCommand('copy');
                                document.body.removeChild(tempInput);
                                alert('Message copied to clipboard!');
                            });
                        });
                        
                    </script>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    
  </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

  <script>
    $(document).ready(function() {
        $('#example').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true
        });
    });
</script>


  
</body>

</html>